<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Droid+Sans&effect=shadow-multiple">

#mainHeading {
    color: red;
    background-color: white;
    text-align: center;
}

body {
    font-family: 'Droid Sans', serif;
    font-size: 18px;
    background-color: pink;
    margin-right: 8px;
    display: block
}
  
.funParagraph {
    color: green;
}